body{
  margin-left: 0px;
}
.pop{
  background-color: grey;
}
.leaflet-popup-content-wrapper {
  background-color: pink;
}



.menu-btn{
  margin-left: 2px;
  
}

.map-cont{
  width: 100vw;
}

.leaflet-container{
  height: 100vh;
}